.min-h-screen {
  height: 100vh;
}

button {
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #4338ca; /* Indigo más oscuro */
}

.material-icons {
  font-size: 1.5rem;
}
